.competitorStatus {
    font-weight: bold;
}

.competitorStatus.retired {
    color: red
}

.competitorStatus.active {
    color: green;
}

.competitorStatus.inactive {
    color: #aaa;
}

table {
    border-collapse: collapse;
}

td, th {
    box-sizing: border-box;
    width: 166px;
    min-width: 166px;
    padding: 3px 10px;
}

td:last-child, th:last-child  {
    text-align: right;
    width: 140px;
    min-width: 140px;
}

tbody tr:nth-child(2n+1) {
    background-color: #eeeeee;
}

.statusBox {
    margin: 10px 0;
}